<nav class="flex bg-black fixed bottom-0 w-full content-center lg:hidden border-t border-white">
   <div class="flex justify-center w-3/12 m-3" id="logo-home">
      <img class="w-10 h-10 lg:w-14 lg:h-14 lg:m-6 rounded-full bg-white p-1" src="/img/logo-home.png" alt="logo home" id="logo_home">
   </div>
   <div class="flex justify-center w-3/12 m-3" id="logo-info">
      <img class="w-10 h-10 lg:w-14 lg:h-14 lg:m-6 rounded-full bg-white p-1" src="/img/logo-about.png" alt="logo about" id="logo_about">
   </div>
   <div class="flex justify-center w-3/12 m-3" id="logo-skills">
      <img class="w-10 h-10 lg:w-14 lg:h-14 lg:m-6 rounded-full bg-white p-1" src="/img/logo-skills.png" alt="logo skills" id="logo_skills">
   </div>
   <div class="flex justify-center w-3/12 m-3" id="logo-projects">
      <img class="w-10 h-10 lg:w-14 lg:h-14 lg:m-6 rounded-full bg-white p-1" src="/img/logo-projects.png" alt="logo projects" id="logo_projects">
   </div>
</nav>