<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/cv.css" rel="stylesheet" type="text/css"/>
        <title>Curriculum Vitae</title>
    </head>
    <body>
        <section class="main">
            <div class="top">
                <div class="lang">
                    <a href="/cv/fr">
                        <img class="logo" src="/img/logo-fr.png" alt="French flag">
                    </a>
                    <a href="/cv/en">
                        <img class="logo" src="/img/logo-en.png" alt="English flag">
                    </a>
                </div>
                <h1>DOMELIER Ariitehau</h1>
            </div>
            <header>
                <div class="info">
                    <div class="links">
                        <a href="mailto:arii.fullstack@gmail.com"><img class="logo" src="/img/logo-mail.png" alt="mail logo">arii.fullstack@gmail.com</a>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/domelier" target="_blank">
                                <img class="logo" src="/img/logo-linkedin.png" alt="LinkedIn logo">LinkedIn
                            </a>
                            <a href="https://github.com/ar11tehau/" target="_blank">
                                <img class="logo" src="/img/logo-github.png" alt="GitHub logo">GitHub
                            </a>
                        </div>
                    </div>
                </div>
                <div class="photo">
                    <img class="photo_cv" src="/img/cv.png" alt="photo CV">
                </div>
                <div class="poste">
                    <div class="head-poste">
                        <h2>FullStack Developer</h2>
                        <p>Seeking a 5-month internship</p>
                        <p>From March to July 2023</p>
                    </div>
                    <div class="motivation">
                        <p>Currently retraining, after 10 years in the French Navy, I am seeking a 5-month internship to apply the skills I acquired during my FullStack Developer training at ENSEEIHT, INP. I believe I am a strong candidate to contribute to the development of your next application within your team.</p>
                    </div>
                </div>
            </header>
            <section class="content">
                <div class="skills_qualities">
                    <div class="skills">
                        <h2>Skills</h2>
                        <div class="skill-set">
                            <div class="skill">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">/CSS</a>
                            </div>
                            <div class="skill">
                                <a href="https://www.python.org/">Python</a>
                            </div>
                            <div class="skill">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>
                            </div>
                            <div class="skill">
                                <a href="https://en.wikipedia.org/wiki/SQL">SQL</a>
                            </div>
                            <div class="skill">
                                <a href="https://git-scm.com/">Git</a>
                            </div>
                            <div class="skill">
                                <a href="https://en.wikipedia.org/wiki/Unix_shell">Shell_Unix</a>
                            </div>
                            <div class="skill">
                                <a href="https://www.nginx.com/">Nginx</a>
                            </div>
                        </div>
                    </div>
                    <div class="qualities">
                        <h2>Qualities</h2>
                        <div class="quality-set">
                            <div class="quality"><p>Spirit of cohesion</p></div>
                            <div class="quality"><p>Curiosity</p></div>
                            <div class="quality"><p>Adaptability</p></div>
                            <div class="quality"><p>Time management</p></div>
                        </div>
                    </div>
                </div>
                <h2>Education</h2>
                <div class="sous-section">
                    <div class="tableau">
                        <div class="period">
                            <img class="logo" src="/img/logo-calendar.png" alt="logo calendar">
                            <p>2024-2023</p>
                        </div>
                        <div class="position">
                            <img class="logo" src="/img/logo-position.png" alt="logo calendar">
                            <p>Toulouse, ENSEEIHT</p>
                        </div>
                        <div class="job">
                            <p>FullStack Developer Training</p>
                        </div>
                    </div>
                    <div class="tableau">
                        <div class="period">
                            <img class="logo" src="/img/logo-calendar.png" alt="logo calendar">
                            <p>2016-2014</p>
                        </div>
                        <div class="position">
                            <img class="logo" src="/img/logo-position.png" alt="logo calendar">
                            <p>Toulouse, Météo France</p>
                        </div>
                        <div class="job">
                            <p>METOC Specialist Training "Oceanographer Meteorologist"</p>
                        </div>
                    </div>
                    <div class="tableau">
                        <div class="period">
                            <img class="logo" src="/img/logo-calendar.png" alt="logo calendar">
                            <p>2014-2013</p>
                        </div>
                        <div class="position">
                            <img class="logo" src="/img/logo-position.png" alt="logo calendar">
                            <p>Brest, Petty Officer School</p>
                        </div>
                        <div class="job">
                            <p>Military, Sailor, and Firefighter Initial Training</p>
                        </div>
                    </div>
                </div>
                <h2>Experience</h2>
                <div class="sous-section">
                    <div class="tableau">
                        <div class="period">
                            <img class="logo" src="/img/logo-calendar.png" alt="logo calendar">
                            <p>2023-2018</p>
                        </div>
                        <div class="position">
                            <img class="logo" src="/img/logo-position.png" alt="logo calendar">
                            <p>Toulouse, Inter-Army Center for Meteorological Support to Forces</p>
                        </div>
                        <div class="job">
                            <p>Meteorological Forecaster Expert, French Navy.</p>
                            <p>Remote support for units via phone or email</p>
                            <p>Development of tools using VBA:</p>
                            <li>automatic weather PPT created from server data</li>
                            <li>auto saving of the daily production</li>
                            <li>website data updates</li>
                        </div>
                    </div>
                    <div class="tableau">
                        <div class="period">
                            <img class="logo" src="/img/logo-calendar.png" alt="logo calendar">
                            <p>2018-2016</p>
                        </div>
                        <div class="position">
                            <img class="logo" src="/img/logo-position.png" alt="logo calendar">
                            <p>Brest, Center for Meteorological and Oceanographic Expertise</p>
                        </div>
                        <div class="job">
                            <p>Meteorological Forecaster Expert, French Navy, within the embarked pool.</p>
                            <p>Rapid adaptation to new crews for each mission</p>
                            <p>Consideration of workplace constraints for optimal meteorological support</p>
                        </div>
                    </div>
                </div>
                <h2>Languages</h2>
                <div class="sous-section">
                    <p>English: C1 level</p>
                    <p>Beach Volley-Ball</p>
                </div>
            </section>
            <footer>            
            </footer>
        </section>
    </body>
</html>