<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/cv.css" rel="stylesheet" type="text/css"/>
        <title>Curriculum Vitae</title>
    </head>
    <body>
        <section class="main">
            <div class="top">
                <div class="lang">
                    <a href="/cv/fr">
                        <img class="logo" src="/img/logo-fr.png" alt="French flag">
                    </a>
                    <a href="/cv/en">
                        <img class="logo" src="/img/logo-en.png" alt="English flag">
                    </a>
                </div>
            <h1>DOMELIER Ariitehau</h1>
            </div>
            <header>
                <div class="info">
                    <div class="links">
                        <a href="mailto:arii.fullstack@gmail/img.com"><img class="logo" src="/img/logo-mail.png" alt="mail logo">arii.fullstack@gmail.com</a>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/domelier" target="_blank">
                                <img class="logo" src="/img/logo-linkedin.png" alt="LinkedIn logo">LinkedIn
                            </a>
                            <a href="https://github.com/ar11tehau/" target="_blank">
                                <img class="logo" src="/img/logo-github.png" alt="GitHub logo">GitHub
                            </a>
                        </div>
                    </div>
                </div>
                <div class="photo">
                    <img class="photo_cv" src="/img/cv.png" alt="photo CV">
                </div>
                <div class="poste">
                    <div class="head-poste">
                        <h2>Développeur FullStack</h2>
                        <p>Recherche stage de 5 mois</p>
                        <p>De Mars à Juillet 2023</p>
                    </div>
                    <div class="motivation">
                        <p>En reconversion, après 10 ans dans la Marine Nationale, je recherche un stage de 5 mois pour appliquer les compétences acquises lors de la formation de développeur FullStack à l'ENSEEIHT. Je pense être un excellent candidat pour développer vos prochaines applications au sein de votre équipe.</p>
                    </div>
                </div>
            </header>
            <section class="content">
                <div class="skills_qualities">
                    <div class="skills">
                        <h2>Compétences</h2>
                        <div class="skill-set">
                            <div class="skill">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>
                            </div>
                            <div class="skill">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>
                            </div>
                            <div class="skill">
                                <a href="https://www.python.org/">Python</a>
                            </div>
                            <div class="skill">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>
                            </div>
                            <div class="skill">
                                <a href="https://en.wikipedia.org/wiki/SQL">Sql</a>
                            </div>
                            <div class="skill">
                                <a href="https://git-scm.com/">Git</a>
                            </div>
                            <div class="skill">
                                <a href="https://en.wikipedia.org/wiki/Unix_shell">Shell_Unix</a>
                            </div>
                            <div class="skill">
                                <a href="https://www.nginx.com/">Nginx</a>
                            </div>
                            <div class="skill">
                                <a href="https://en.wikipedia.org/wiki/C_(programming_language)">Notion en C</a>
                            </div>
                        </div>
                    </div>
                    <div class="qualities">
                        <h2>Qualité</h2>
                        <div class="quality-set">
                            <div class="quality"><p>Esprit de cohésion</p></div>
                            <div class="quality"><p>Curiosité</p></div>
                            <div class="quality"><p>Adaptabilité</p></div>
                            <div class="quality"><p>Gestion de temps</p></div>
                        </div>
                    </div>
                </div>
                <h2>Formation</h2>
                <div class="sous-section">
                    <div class="tableau">
                        <div class="period">
                            <img class="logo" src="/img/logo-calendar.png" alt="logo calendar">
                            <p>2024-2023</p>
                        </div>
                        <div class="position">
                            <img class="logo" src="/img/logo-position.png" alt="logo calendar">
                            <p>Toulouse, ENSEEIHT</p>
                        </div>
                        <div class="job">
                            <p>Formation de développeur d'application FullStack</p>
                        </div>
                    </div>
                    <div class="tableau">
                        <div class="period">
                            <img class="logo" src="/img/logo-calendar.png" alt="logo calendar">
                            <p>2016-2014</p>
                        </div>
                        <div class="position">
                            <img class="logo" src="/img/logo-position.png" alt="logo calendar">
                            <p>Toulouse, Météo France</p>
                        </div>
                        <div class="job">
                            <p>Formation de spécialiste METOC "Météorologiste Océanographe"</p>
                        </div>
                    </div>
                    <div class="tableau">
                        <div class="period">
                            <img class="logo" src="/img/logo-calendar.png" alt="logo calendar">
                            <p>2014-2013</p>
                        </div>
                        <div class="position">
                            <img class="logo" src="/img/logo-position.png" alt="logo calendar">
                            <p>Brest, Ecole de Maistrance</p>
                        </div>
                        <div class="job">
                            <p>Formation initiale militaire, marin et pompier</p>
                        </div>
                    </div>
                </div>
                <h2>Expérience</h2>
                <div class="sous-section">
                    <div class="tableau">
                        <div class="period">
                            <img class="logo" src="/img/logo-calendar.png" alt="logo calendar">
                            <p>2023-2018</p>
                        </div>
                        <div class="position">
                            <img class="logo" src="/img/logo-position.png" alt="logo calendar">
                            <p>Toulouse, Centre InterArmées de Soutien Météorologiste aux Forces</p>
                        </div>
                        <div class="job">
                            <p>Expert prévisionniste météo, Marine Nationale.</p>
                            <p>Soutien des unités à distance, par téléphone ou par mail</p>
                            <p>Développement d'outil sous VBA</p>
                        </div>
                    </div>
                    <div class="tableau">
                        <div class="period">
                            <img class="logo" src="/img/logo-calendar.png" alt="logo calendar">
                            <p>2018-2016</p>
                        </div>
                        <div class="position">
                            <img class="logo" src="/img/logo-position.png" alt="logo calendar">
                            <p>Brest, Centre d'Expertise Météorologiste Océanographe</p>
                        </div>
                        <div class="job">
                            <p>Expert prévisionniste météo, Marine Nationale, au sein du pool embarqué.</p>
                            <p>Adaptation rapide au sein d'un nouvel équipage à chaque mission</p>
                            <p>Prise en compte des contraintes l'environnement de travail pour un soutien météo optimale</p>
                        </div>
                    </div>
                </div>
                <h2>Langues</h2>
                <div class="sous-section">
                    <p>Anglais: niveau C1</p>
                </div>
            </section>
            <footer>            
            </footer>
        </section>
    </body>
</html>