<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="icon" type="image/png" href="./img/logo.png">
        <title>Snack Te ava iti</title>
    </head>
    <body>
        <header>
            <section class="head-title">
                <div class="logo">
                    <img src="./img/logo.png" alt="logo">
                </div>
                <h1>SNACK TE AVA ITI</h1>
                <div class="logo">
                    <img src="./img/logo.png" alt="logo">
                </div>
            </section>
            <section class="call">
                <h3>Commande au
                <a href="tel:+689 40 42 47 95">40 42 47 95</a></h3>
                <a href="tel:+689 40 42 47 95"><img src="./img/call.png" alt="Commande"></a>
            </section>
        </header>
        <section id="menu">
            <section class="category">
                <h2>Viandes</h2>
                    <div class="item">
                        <span class="item-name">Hamburger + Frites</span>
                        <span class="item-price">950</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Cheeseburger + Frites</span>
                        <span class="item-price">1 050</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Steack + Frites</span>
                        <span class="item-price">1 300</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Steack + Frites + Roquefort</span>
                        <span class="item-price">1 400</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Poulet + Frites</span>
                        <span class="item-price">800</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Poulet + Frites + Roquefort</span>
                        <span class="item-price">900</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Poulet aux légumes</span>
                        <span class="item-price">1 300</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Poulet Croustillant</span>
                        <span class="item-price">1 300</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Chao men</span>
                        <span class="item-price">1 200</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Salade de Poulet + Yaourt</span>
                        <span class="item-price">1 200</span>
                    </div>
              </section>
              <section class="category">
                <h2>Poisson</h2>
                    <div class="item">
                        <span class="item-name">Fish Burger + Frites</span>
                        <span class="item-price">1 100</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Poisson frit + Frites</span>
                        <span class="item-price">1 300</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Poisson cru au lait de coco</span>
                        <span class="item-price">1 300</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Poisson cru Chinois</span>
                        <span class="item-price">1 300</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Sashimi</span>
                        <span class="item-price">1 200</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Crevettes au curry</span>
                        <span class="item-price">1 400</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Salade de thon + Yaourt</span>
                        <span class="item-price">1 200</span>
                    </div>
              </section>
              <section class="category">
                <h2>Sauce</h2>
                    <div class="item">
                        <span class="item-name">Barbecue</span>
                        <span class="item-price">300</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Roquefort</span>
                        <span class="item-price">350</span>
                    </div>
              </section>
              <section class="category">
                    <div class="item">
                        <span class="item-titre"><h2>Accompagnement</h2></span>
                        <span class="item-price-petit">Petit</span>
                        <span class="item-price-grand">Grand</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Barquettes de riz</span>
                        <span class="item-price-petit">400</span>
                        <span class="item-price-grand">500</span>
                    </div>
    
                    <div class="item">
                        <span class="item-name">Portion de frites</span>
                        <span class="item-price-petit">400</span>
                        <span class="item-price-grand">500</span>
                    </div>
              </section>
              <section class="category">
                <h2>Desserts</h2>
                    <div class="item">
                        <span class="item-name">Gauffre chocolat chantilly</span>
                        <span class="item-price">400</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Gâteau qui pleure</span>
                        <span class="item-price">500</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Eclair/Tartiflette/Chou</span>
                        <span class="item-price">250</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Forêt noire</span>
                        <span class="item-price">350</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Mimosat</span>
                        <span class="item-price">300</span>
                    </div>
              </section>
              <section class="category">
                
                    <div class="item">
                        <span class="item-titre"><h2>Boisson</h2></span>
                        <span class="item-price-petit">Petit</span>
                        <span class="item-price-grand">Grand</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Tahitian Cola</span>
                        <span class="item-price-petit">250</span>
                        <span class="item-price-grand">700</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Tahitian Lime</span>
                        <span class="item-price-petit">250</span>
                        <span class="item-price-grand">700</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Tahitian Orange</span>
                        <span class="item-price-petit">250</span>
                        <span class="item-price-grand">700</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Tahitian Red</span>
                        <span class="item-price-petit">250</span>
                        <span class="item-price-grand">700</span>
                    </div>
                    <div class="item">
                        <span class="item-name">Eau</span>
                        <span class="item-price-petit"></span>
                        <span class="item-price-grand">700</span>
                    </div>
              </section>
        </section>
        <footer>
            <a class="facebook-logo" href="https://www.facebook.com/SNACKTEAVAITI/" target="_blank">
                <img src="./img/facebook-logo.png" alt="Facebook">
            </a>
            <a class="google-maps-logo" href="https://www.google.com/maps/place/Snack+Teavaiti/@-17.8330331,-149.2813045,15z/data=!4m6!3m5!1s0x769baf50eb130bf1:0x7b368df4a976932f!8m2!3d-17.8330331!4d-149.2813045!16s%2Fg%2F11j7yjf0_b?entry=ttu" target="_blank">
                <img src="./img/maps-logo.png" alt="Google Maps">
            </a>
        </footer>
    </body>
</html>