@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #00DEDA;
    background-color: #001C30;    
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
  }

.section {
    height: 100vh;
}